---
import BaseLayout from "../layouts/BaseLayout.astro";
import "#assets/sass/styles.scss";
import Link from "components/link.astro";
import { getEntry } from "astro:content";
import { render } from "astro:content";
import ProcessList from "components/process-list.astro";
import ProcessListItem from "components/process-list-item.astro";
import CopySnippet from "components/copy-snippet.astro";
import SideNav from "components/side-nav.astro";
import InPageNav from "components/in-page-nav.astro";

const entry = await getEntry("pages", "api-documentation");
if (!entry) {
	throw new Error("Page not found");
}

const { Content, headings } = await render(entry);
---

<BaseLayout title="API Documentation" description="">
	<main id="main-content">
		<h1>{entry.data.title}</h1>

		<Content
			components={{
				a: Link,
				ProcessList,
				ProcessListItem,
				CopySnippet,
			}}
		/>
	</main>
</BaseLayout>
