---
import BaseLayout from '../layouts/BaseLayout.astro';
import "#assets/sass/styles.scss";
const pageTitle = "API Documentation";
---


<BaseLayout pageTitle={pageTitle}>
	<ul>
		<li>
			<a href="/docs/comparison-bcda-cclf-files">Comparison of BCDA and CCLF Files</a>
		</li>
	</ul>
</BaseLayout>