---
import DocsLayout from '../layouts/DocsLayout.astro';
import "#assets/sass/styles.scss";
const pageTitle = "API Documentation";
---


<DocsLayout>
	<ul>
		<li>
			<a href="/docs/comparison-bcda-cclf-files//"
				>Comparison of BCDA and CCLF Files</a
			>
		</li>
	</ul>
</DocsLayout>