---
import "../sass/styles.scss";

const pageTitle = "API Documentation";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>

		<script src="#uswds/js/uswds-init.js"></script>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/docs/">Docs</a>
		<h1>{pageTitle}</h1>
		<p>I am evaluating if a blog schema makes any sense at this stage.</p>
		<ul>
			<li>
				<a href="/docs/comparison-bcda-cclf-files//"
					>Comparison of BCDA and CCLF Files</a
				>
			</li>
		</ul>

		<script src="#uswds/js/uswds.js"></script>
	</body>
</html>
