---
import BaseLayout from "../layouts/BaseLayout.astro";
import "#assets/sass/styles.scss";
import { getEntry } from "astro:content";
import { render } from "astro:content";
import Link from "components/link.astro";

const entry = await getEntry("pages", "support");
if (!entry) {
	throw new Error("Page not found");
}

const { Content } = await render(entry);
---

<BaseLayout title="Support" description="">
	<main id="main-content">
		<h1>{entry.data.title}</h1>

		<Content
			components={{
				a: Link,
			}}
		/>
	</main>
</BaseLayout>
