---
import IconClose from "#assets/uswds/img/usa-icons/close.svg";

import LogoBlueButton from "#assets/images/logo-bluebutton.svg";
import Link from "./link.astro";
---

<div class="position-sticky top-0 bg-white shadow-1 z-500">
  <div class="usa-overlay"></div>
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo">
          <Link
            href="/"
            title="BlueButton 2.0"
            data-tealium="navigation"
            class="display-block width-5 height-5"
          >
            <LogoBlueButton aria-label="BlueButton 2.0 logo" class="width-full height-5" />
          </Link>
        </div>
        <button type="button" class="usa-menu-btn">Menu</button>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <button type="button" class="usa-nav__close">
          <IconClose aria-label="close" />
        </button>
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <Link href="/about" class="usa-nav-link" data-tealium="navigation"
              ><span>About</span>
            </Link>
          </li>
          <li class="usa-nav__primary-item">
            <Link
              href="/api-documentation/"
              class="usa-nav-link"
              data-tealium="navigation"
              ><span>Documentation</span>
            </Link>
          </li>
          <li class="usa-nav__primary-item">
            <Link
              href="/bcda-data/"
              class="usa-nav-link"
              data-tealium="navigation"
              ><span>Data</span>
            </Link>
          </li>
          <li class="usa-nav__primary-item">
            <Link
              href="/production-access/"
              class="usa-nav-link"
              data-tealium="navigation"
              ><span>Production Access</span>
            </Link>
          </li>
          <li class="usa-nav__primary-item">
            <Link
              href="/support/"
              class="usa-nav-link"
              data-tealium="navigation"
              ><span>Support</span>
            </Link>
          </li>
        </ul>
        <div class="padding-left-1">
          <Link
            href="/api-documentation/"
            class="usa-button"
            data-tealium="navigation"
            >Get Started
          </Link>
        </div>
      </nav>
    </div>
  </header>
</div>
