---
---

<div class="position-sticky top-0 bg-white shadow-1 z-500">
    <div class="usa-overlay"></div>
    <header class="usa-header usa-header--basic">
      <div class="usa-nav-container">
        <div class="usa-navbar">
          <div class="usa-logo">
            <a href="/" title="BCDA" data-tealium="navigation" class="display-block width-5 height-5">
                <img src="/src/assets/images/logo-bcda.svg" alt="BCDA logo" class="width-full height-5" style="object-fit:contain;" />
            </a>
          </div>
          <button type="button" class="usa-menu-btn">Menu</button>
        </div>
        <nav aria-label="Primary navigation" class="usa-nav">
          <button type="button" class="usa-nav__close">
            <img src="/assets/uswds/img/usa-icons/close.svg" role="img" alt="Close" />
          </button>
          <ul class="usa-nav__primary usa-accordion">
              <li class="usa-nav__primary-item">
                <a
                  href="/about/"
                  class="usa-nav-link"
                  data-tealium="navigation"
                  ><span>About</span>
                </a>
              </li>
              <li class="usa-nav__primary-item">
                <a
                  href="/api-documentation/"
                  class="usa-nav-link"
                  data-tealium="navigation"
                  ><span>API Documentation</span>
                </a>
              </li>
              <li class="usa-nav__primary-item">
                <a
                  href="/bcda-data/"
                  class="usa-nav-link"
                  data-tealium="navigation"
                  ><span>BCDA Data</span>
                </a>
              </li>
              <li class="usa-nav__primary-item">
                <a
                  href="/production-access/"
                  class="usa-nav-link"
                  data-tealium="navigation"
                  ><span>Production Access</span>
                </a>
              </li>
              <li class="usa-nav__primary-item">
                <a
                  href="/support/"
                  class="usa-nav-link"
                  data-tealium="navigation"
                  ><span>Support</span>
                </a>
              </li>
          </ul>
          <div class="padding-left-1">
             <a 
                href="/api-documentation/" 
                class="usa-button" 
                data-tealium="navigation"
                >Get Started
              </a>
          </div>
        </nav>
      </div>
    </header>
  </div>
  