<div class="usa-identifier">
    <section
      class="usa-identifier__section usa-identifier__section--masthead"
      aria-label="Agency identifier,"
    >
      <div class="usa-identifier__container">
        <div class="usa-identifier__logos">
          <a href="https://www.hhs.gov/" class="usa-identifier__logo"
            ><img
              class="usa-identifier__logo-img"
              src="/src/assets/images/HHS-logo.svg"
              alt="HHS logo"
              role="img"
          /></a>
          <a href="https://www.cms.gov/" class="usa-identifier__logo"
            ><img
              class="usa-identifier__logo-img padding-x-2"
              src="/src/assets/images/CMS-logo.svg"
              alt="CMS logo"
              role="img"
          /></a>
        </div>
        <section
          class="usa-identifier__identity"
          aria-label="Agency description,"
        >
          <p class="usa-identifier__identity-domain">cms.gov</p>
          <p class="usa-identifier__identity-disclaimer">
            <span aria-hidden="true">An </span>official website of the
            <a href="https://www.hhs.gov/" class="usa-link--external">U.S. Department of Health and Human Services</a> and the
            <a href="https://www.cms.gov/" class="usa-link--external">Centers for Medicare & Medicaid Services</a>.
          </p>
        </section>
      </div>
    </section>
    <nav
      class="usa-identifier__section usa-identifier__section--required-links"
      aria-label="Important links,"
    >
      <div class="usa-identifier__container">
        <ul class="usa-identifier__required-links-list">
          <li class="usa-identifier__required-links-item">
            <a 
              href="https://www.cms.gov/about-cms" target="_blank" rel="noopener noreferrer"
              class="usa-identifier__required-link usa-link usa-link--external"
              >About CMS</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="https://www.medicare.gov/" target="_blank" rel="noopener noreferrer"
              class="usa-identifier__required-link usa-link usa-link--external"
              >Medicare.gov</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="https://www.medicaid.gov/" target="_blank" rel="noopener noreferrer"
              class="usa-identifier__required-link usa-link usa-link--external"
              >Medicaid.gov</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="https://www.healthcare.gov/" target="_blank" rel="noopener noreferrer"
              class="usa-identifier__required-link usa-link usa-link--external"
              >Healthcare.gov</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="http://developer.cms.gov" target="_blank" rel="noopener noreferrer"
              class="usa-identifier__required-link usa-link usa-link--external"
              >Developer.cms.gov</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="https://design.cms.gov/" target="_blank" rel="noopener noreferrer"
              class="usa-identifier__required-link usa-link usa-link--external"
              >CMS Design System</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="https://designsystem.digital.gov/" target="_blank" rel="noopener noreferrer"
              class="usa-identifier__required-link usa-link usa-link--external"
              >U.S. Web Design System</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="https://www.cms.gov/about-cms/web-policies-important-links/foia" target="_blank" rel="noopener noreferrer"
              class="usa-identifier__required-link usa-link usa-link--external"
              >Freedom of Information Act</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="https://oig.hhs.gov/" target="_blank" rel="noopener noreferrer"
              class="usa-identifier__required-link usa-link usa-link--external"
              >Inspector General</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="https://www.cms.gov/about-cms/web-policies-important-links/no-fear-act" target="_blank" rel="noopener noreferrer"
              class="usa-identifier__required-link usa-link usa-link--external"
              >No Fear Act</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="https://www.medicare.gov/about-us/plain-writing" target="_blank" rel="noopener noreferrer"
              class="usa-identifier__required-link usa-link usa-link--external"
              >Plain Writing</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="https://www.cms.gov/About-CMS/Agency-Information/Aboutwebsite/Privacy-Policy" target="_blank" rel="noopener noreferrer"
              class="usa-identifier__required-link usa-link usa-link--external"
              >CMS Privacy Policy</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="https://www.cms.gov/vulnerability-disclosure-policy" target="_blank" rel="noopener noreferrer"
              class="usa-identifier__required-link usa-link usa-link--external"
              >CMS/HHS Vulnerability Disclosure Policy</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="https://www.cms.gov/about-cms/web-policies-important-links/accessibility-nondiscrimination-disabilities-notice" target="_blank" rel="noopener noreferrer"
              class="usa-identifier__required-link usa-link usa-link--external"
              >Accessibility Statement</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="https://www.cms.gov/about-cms/performance-budget/current" target="_blank" rel="noopener noreferrer"
              class="usa-identifier__required-link usa-link usa-link--external"
              >Performance Reports</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <section
      class="usa-identifier__section usa-identifier__section--usagov"
      aria-label="U.S. government information and services,"
    >
      <div class="usa-identifier__container">
        <div class="usa-identifier__usagov-description">
          Looking for U.S. government information and services?
        </div>
        <a href="https://www.usa.gov/" class="usa-link usa-link--external">Visit USA.gov</a>
      </div>
    </section>
  </div>
</footer>
