---
type Props = {
  heading?: string;
};
const { heading } = Astro.props;
---

<li class="usa-process-list__item">
  {heading ? <p class="usa-process-list__heading">Use the sandbox</p> : null}
  <slot />
</li>
