---
import { getCollection } from "astro:content";
import Link from "./link.astro";

const { pathname } = Astro.url;

const apiDocs = (await getCollection("apiDocs")).sort(
  (a, b) => a.data.sortOrder - b.data.sortOrder,
);
const sidenavLinks = apiDocs.map((doc) => ({
  label: doc.data.title,
  href: `/api-docs/${doc.id}`,
}));
---

<div
  class="display-none position-sticky tablet:display-block tablet:grid-col-auto overflow-y-auto overflow-x-hidden padding-top-5 desktop:padding-top-7 padding-bottom-6 tablet:padding-right-3 padding-left-05 margin-left-neg-05"
  style="top: 4rem; height: calc(100vh - 4.5rem);"
>
  <div class="width-card-lg">
    <nav aria-label="Side navigation">
      <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
          <a
            href="/api-documentation"
            class="if current page"
            data-tealium="left-rail"
          >
            Get Started
          </a>
        </li>
        <ul class="usa-sidenav__sublist">
          {
            sidenavLinks.map((link) => (
              <li class="usa-sidenav__item">
                <Link
                  href={link.href}
                  class={pathname.startsWith(link.href) ? "usa-current" : null}
                >
                  {link.label}
                </Link>
              </li>
            ))
          }
        </ul>
        <li class="usa-sidenav__item">
          <a href="/" data-tealium="left-rail">
            <span>Swagger + Icon</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
