---
import SideNav from "components/side-nav.astro";
import InPageNav from "components/in-page-nav.astro";
---

<div class="grid-row grid-gap-4 flex-align-start">
    <SideNav />
    <div class="grid-col-fill">
        <slot />
    </div>
    <div class="position-sticky">
        <InPageNav />
    </div>
</div>
