/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

//
//  @use "uswds-core" with (
//    $setting: value,
//    $setting: value
//  );
//

// _uswds-theme.scss

@use "uswds-core" with (
  $theme-show-notifications: false,
  $theme-font-path: "../uswds/fonts",
  $theme-image-path: "../uswds/img",
  $theme-font-role-heading: 'sans',
  $theme-font-type-sans: 'open-sans',
  $theme-text-measure: 5,
  $theme-lead-line-height: 3,
  $theme-banner-max-width: "desktop-lg",
  $theme-header-max-width: "desktop-lg",
  $theme-grid-container-max-width: "desktop-lg",
  $theme-in-page-nav-main-content-max-width: "desktop-lg",
  $theme-footer-max-width: "desktop-lg",
  $theme-identifier-max-width: "desktop-lg",
  $theme-focus-color: "gold-20v",
)